<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess - <%= type %>
    </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/styles/game.css">
</head>

<body>
    <nav>
        <button onclick="window.location.href='/'">← Exit</button>
        <button>vs <%=type%></button>
    </nav>
    <section>
        <div>
            <button class="profile2">B</button>
            <h3 class="player">
                <%=type%>
            </h3>
        </div>
        <section id="chessboard"></section>
        <div>
            <button class="profile1">Y</button>
            <h3 class="you">You</h3>
        </div>
    </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
    integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/scripts/board.js"></script>
<script src="/scripts/game.js"></script>
<script src="/scripts/bot.js"></script>
<script src="/scripts/socket.js"></script>
</html>