<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHESSMATE</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <section>
        <img width="100" height="100" src="/images/chessicon.png" alt="chess icon">
        <h4>Strategy · Skill · Checkmate</h4>
        <h2>CHESS<span>MATE</span></h2>
        <h4>The classic game of chess — reimagined for the modern player.</h4>
    </section>
    <section>
        <h4>SELECT MODE</h4>
        <div onclick="window.location.href='/game/online'">
            <span>
                <img width="50" height="50" src="/images/chessicon.png" alt="images">
                <div>
                    <h2>Play Online</h2>
                    <p>Match with players worldwide</p>
                </div>
            </span>
            <div>&#8618;</div>
        </div>
        <div onclick="window.location.href='/game/friend'">
            <span>
                <img width="50" height="50" src="/images/chessicon.png" alt="images">
                <div>
                    <h2>With Friend</h2>
                    <p>Invite & challenge a friend</p>
                </div>
            </span>
            <div>&#8618;</div>
        </div>
        <div onclick="window.location.href='/game/bot'">
            <span>
                <img width="50" height="50" src="/images/chessicon.png" alt="images">
                <div>
                    <h2>Vs Bot</h2>
                    <p>Train against AI engine</p>
                </div>
            </span>
            <div>&#8618;</div>
        </div>
    </section>
</body>

</html>