* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    background-color: #0f0f0f;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

body nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

body nav button:first-of-type {
    padding: 10px;
    color: whitesmoke;
    background-color: black;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 5px;
}

body nav button:last-of-type {
    background-color: green;
    color: whitesmoke;
    border: 1px solid rgb(0, 88, 7);
    border-radius: 15px;
    padding: 5px;
    font-size: small;
}

body section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

body section div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 15px;
    color: whitesmoke;
    background-color: black;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 5px;
}

body section div button {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(71, 71, 71);
    color: whitesmoke;
    font-weight: bold;
}

.turn {
    background-color: rgb(2, 79, 2);
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 5px solid #333;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
}

.square {
    width: 60px;
    height: 60px;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

@media (max-width: 620px) {
    #chessboard {
        display: grid;
        grid-template-columns: repeat(8, 30px);
        grid-template-rows: repeat(8, 30px);
        border: 5px solid #333;
        border-radius: 10px;
        width: fit-content;
        margin: 20px auto;
    }

    .square {
        width: 30px;
        height: 30px;
    }
}